<!DOCTYPE html>
<html>
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css"> -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/show.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css">
<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<body>
<div id="header" class="navbar navbar-inverse navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Dwiki</a>
			<div class="nav-collapse collapse">
				<ul class="nav main-nav">
					<li class="<%= navcate == "index" ? "active" : "" %>">
						<a href="/">首页</a>
					</li>
					<li class="<%= navcate == "frontend" ? "active" : "" %>">
						<a href="/categories/frontend">前端</a>
					</li>
					<li class="<%= navcate == "backend" ? "active" : "" %>">
						<a href="/categories/backend">后端</a>
					</li>
					<li class="<%= navcate == "IDC" ? "active" : "" %>">
						<a href="/categories/IDC">交互</a>
					</li>
					<li class="<%= navcate == "PM" ? "active" : "" %>">
						<a href="/categories/PM">产品</a>
					</li>
					<li class="<%= navcate == "mobile" ? "active" : "" %>">
						<a href="/categories/mobile">移动</a>
					</li>
				</ul>
				<ul class="nav auth-nav pull-right">
				    <% if(username) { %>
						<li> <a href="/articles/new"><i class="icon-plus"></i> 发布 </a> </li>
						<li> <a href="/logout"><i class="icon-power-off"></i> 退出 </a> </li>
						<li> <a href="#"><i class="icon-user"></i> <%= username %></a> </li>
					<% } else {%>	
						<li> <a href="/login"><i class="icon-user"></i> 登录</a> </li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>	


