<%- include ../includes/header %>
<div class="row span10 offset2">
	<form action="/articles/<%= article.id %>" method="post">
        <fieldset>
            <legend>编辑</legend>
            <label>标题：</label>
            <input type="text" name="title" class="span8" value="<%= article.title %>" placeholder="Type title here...">
            <label>分类：</label>
            <select name="category">
                <option value="frontend">前端</option>
                <option value="backend">后端</option>
                <option value="IDC">交互</option>
                <option value="mobile">移动</option>
                <option value="PM">产品</option>
            </select>
            <label>正文：</label>
            <textarea rows="8" name="body" class="span8"><%= article.body %></textarea><br>
            <input type="hidden" name="_method" value="PUT">
            <button type="submit" class="btn btn-primary">提交</button>
            <a href="/articles" title="cancel" class="btn">Cancel</a>
        </fieldset>
    </form>	
</div>
<%- include ../includes/footer %>