<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/show.css">
<link rel="stylesheet" type="text/css" href="/css/editpage.css">
<link rel="stylesheet" type="text/css" href="/css/tomorrow.css">
<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/prettify.js"></script>
<script src="/js/Markdown.Converter.js"></script>
<script src="/js/Markdown.Editor.js"></script>
<script src="/js/Markdown.Extra.js"></script>
<script src="/js/src-min-noconflict/ace.js"></script>
<script src="/js/edit.js"></script>

<body>

    <% if(article.id !== ''){ %>    
        <form action="/articles/<%= article.id %>" method="post" id="postform">
        <input type="hidden" name="_method" value="PUT">
    <% } else { %>
        <form action="/articles" method="post" id="postform">
    <% } %>
    <input type="hidden" id="category" name="category" value="<%= article.category %>">
    <textarea id="maincontent" name="body" style="display: none"><%= article.body %></textarea>

    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-xs-1">
            <a href="../" class="navbar-brand">Home</a>
        </div>
        <div class="editor-title">
            <div class="input-group">
                <div class="input-group-btn" id="category-validate">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <% if(article.category){ %>
                        <span class="select-text"><%=: article.category | parse_category %> </span>  <span class="caret"></span>
                        <% } else { %>
                        <span class="select-text">选择分类  </span>  <span class="caret"></span>
                        <% } %>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:;" data-cate="share">中心分享</a></li>
                        <li><a href="javascript:;" data-cate="frontend">前端</a></li>
                        <li><a href="javascript:;" data-cate="backend">后端</a></li>
                        <li><a href="javascript:;" data-cate="mobile">移动</a></li>
                        <li><a href="javascript:;" data-cate="itom">IT运维</a></li>
                        <li><a href="javascript:;" data-cate="breakdown">故障记录</a></li>
                    </ul>
                </div>

                <input type="text" id="title" name="title" class="form-control" placeholder="标题：" value="<%= article.title %>">
                <span class="input-group-btn">
                    <button class="btn btn-default js_submitPost" type="button">发布  <span class="glyphicon glyphicon-send"></span></button>
                </span>
            </div>
        </div>
        
    </header>
    <div class="editor-preview mdbody" id="wmd-preview">
    </div>
    <div id="wmd-button-bar" class="col-xs-5 editor-bar"></div>
    <div id="wmd-input"><%= article.body %></div>
</form>
</body>
</html>
