<%- include ../includes/header %>
<div class="container mainbody">
<div class="row span10 offset2">
	<form action="/articles/<%= article.id %>" method="post">
        <fieldset>
            <legend></legend>
            <div class="row">
                <div class="span7">
                    <label>标题：</label>
                    <input type="text" name="title" class="span7" value="<%= article.title %>" placeholder="Type title here...">
                </div>
                <div class="span3">
                    <label>分类：</label>
                    <select name="category" class="span3">
                        <option value="frontend">前端</option>
                        <option value="backend">后端</option>
                        <option value="IDC">交互</option>
                        <option value="mobile">移动</option>
                        <option value="PM">产品</option>
                    </select>           
                </div>
            </div>
            <div class="row">
                <div class="btn-toolbar js_mdinsert span12">
                    <div class="btn-group">
                        <a class="btn" data-insert="h1" href="#">h1</a>
                        <a class="btn" data-insert="h2" href="#">h2</a>
                        <a class="btn" data-insert="h3" href="#">h3</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-insert="link" href="#">link</a>
                        <a class="btn" data-insert="image" href="#">image</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-insert="bold" href="#">bold</a>
                        <a class="btn" data-insert="italic" href="#">italic</a>
                        <a class="btn" data-insert="code" href="#">code</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn" data-insert="ul" href="#">ul</a>
                        <a class="btn" data-insert="ol" href="#">ol</a>
                        <a class="btn" data-insert="blockquote" href="#">"</a>
                        <a class="btn" data-insert="hr" href="#">__</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn function-help" href="#">?</a>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active tab-write">
                    <a href="#">正文</a>
                </li>
                <li class="tab-preview">
                    <a href="#">预览</a>
                </li>
            </ul>
            <section class="panel-write">
                <pre id="editor"><%= article.body %></pre>
                <textarea id="maincontent" rows="8" name="body" class="span10 hideit"><%= article.body %></textarea>
            </section>
            <section class="panel-preview hideit">
            </section>
            <p class="insertnote">
                <input type="file" multiple id="uploadInput" class="hideit">
                将光标定位到你想要插入图片的位置，然后直接将图片拖入上面区域，或<a href="javascript:;" class="js_insertImg">点击此处添加图片</a>。
            </p>
            <input type="hidden" name="_method" value="PUT">
            <button type="submit" class="btn btn-primary">提交</button>
            <a href="/articles" title="cancel" class="btn">取消</a>
        </fieldset>
    </form> 
</div>
</div><!-- end of .container -->
<script type="text/javascript" src="/js/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="/js/fileupload.js"></script>
<script type="text/javascript" src="/js/edit.js"></script>
<%- include ../includes/footer %>
