<%- include ../includes/header %>
<div class="container mainbody">
<legend>编辑</legend>
<div class="row">
    <form action="/articles/<%= article.id %>" method="post" id="postform">
        <div class="span9">
            <div class="row">
                <label class="span7">标题：</label>
                <label class="span2">分类：</label>
            </div>
            <div class="controls controls-row">
                <input type="text" class="span7" name="title" value="<%= article.title %>">
                <select name="category" class="span2">
                    <option>选择分类</option>
                    <option value="frontend" <%= article.category == "frontend" ? 'selected' : '' %>>前端</option>
                    <option value="backend" <%= article.category == "backend" ? 'selected' : '' %>>后端</option>
                    <option value="IDC" <%= article.category == "IDC" ? 'selected' : '' %>>交互</option>
                    <option value="mobile" <%= article.category == "mobile" ? 'selected' : '' %>>移动</option>
                    <option value="PM" <%= article.category == "PM" ? 'selected' : '' %>>产品</option>
                </select>           
            </div>
            <ul class="nav nav-tabs">
                <li class="active tab-write">
                    <a href="#">正文</a>
                </li>
                <li class="tab-preview">
                    <a href="#">预览</a>
                </li>
            </ul>
            <section class="panel-write">
<div class="btn-toolbar js_mdinsert">
                    <div class="btn-group">
                        <a class="btn js_pre" data-insert="h2" href="#"><b>h2</b></a>
                        <a class="btn js_pre" data-insert="h3" href="#"><b>h3</b></a>
                        <a class="btn js_pre" data-insert="h4" href="#"><b>h4</b></a>
                        <a class="btn js_pre" data-insert="h5" href="#"><b>h5</b></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn js_insertLink" role="button" data-toggle="modal" data-insert="link" href="#mdLinkModal"><i class="icon-link"></i></a>
                        <a class="btn js_insertImg" data-insert="image" href="#"><i class="icon-picture"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn js_wrap" data-insert="bold" href="#"><i class="icon-bold"></i></a>
                        <a class="btn js_wrap" data-insert="italic" href="#"><i class="icon-italic"></i></a>
                        <a class="btn js_wrap" data-insert="code" href="#"><i class="icon-code"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn js_pre" data-insert="ul" href="#"><i class="icon-list-ul"></i></a>
                        <a class="btn js_pre" data-insert="ol" href="#"><i class="icon-list-ol"></i></a>
                        <a class="btn js_pre" data-insert="blockquote" href="#"><i class="icon-quote-right"></i></a>
                        <a class="btn js_pre" data-insert="hr" href="#"><i class="icon-minus"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn js_help" href="#"><i class="icon-question-sign"></i></a>
                    </div>
                </div>
                <div class="js_helpbody" style="display:none">
                    <table class="table table-bordered helptable">
                        <tr>
                            <td>
                                <h6>标题</h6>
                                # 标题h1,字体最大<br>
                                ## 标题h2<br>
                                ...<br>
                                ###### 标题h6,字体最小<br>
                                <hr>
                                <h6>段落</h6>
                                段落（分段落就是直接空一行）<br>
                                    <br>
                                段落2<br>
                            </td>
                            <td>
                                <h6>列表</h6>
                                - 无序列表<br>
                                - 无序列表<br>
                                <br>
                                1. 有序列表<br>
                                2. 有序列表<br>
                                <hr>
                                <h6>文字</h6>
                                **粗体**<br>
                                _斜体_<br>
                                <hr>
                                <h6>水平线</h6>
                                ***
                            </td>
                            <td>
                                <h6>引用块</h6>
                                > 引用块<br>
                                <hr>
                                <h6>链接</h6>
                                [文字](http://linkurl)
                                <hr>
                                <h6>图片</h6>
                                ![alt文字](http://picurl)<br>
                                （图片的标记只比链接多一个感叹号哦~）
                            </td>
                            <td>
                                <h6>代码</h6>
                                `行内代码` <br>
                                <br>
                                ```
                                多行代码
                                ```
                                <hr>
                                <h6>表格</h6>
                                |表头|表头|<br>
                                |--- |--- |<br>  
                                |内容|内容|<br>
                                |内容|内容|<br>
                            </td>
                        </tr>
                    </table>
                </div>
                <pre id="editor"><%= article.body %></pre>
                <textarea id="maincontent" rows="8" name="body" class="span10 hideit"><%= article.body %></textarea>
            </section>
            <section class="panel-preview hideit">
            </section>
            <p class="insertnote">
                <input type="file" multiple id="uploadInput" class="hideit">
                <!-- 将光标定位到你想要插入图片的位置，<a href="javascript:;" class="js_insertImg">点击此处添加图片</a>。 -->
            </p>

        </div>
        <div class="span3">
            <label>状态：</label>
            <select name="status" class="span3">
                <option value="published" <%= article.status == 'published' ? "selected" : "" %>>发布</option>
                <option value="draft" <%= article.status== 'draft' ? "selected" : "" %>>草稿</option>
            </select>
            <label>标签：</label>
            <input name="tags" id="tags" value="<%= article.tags %>"/>
            <p class="submit-area">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-primary js_postSubmit"><i class="icon-save"></i> 提交</button>
                <a href="/articles" title="cancel" class="btn"><i class="icon-mail-reply"></i> 取消</a>
            </p>

        </div>
    </form> 
</div>
</div><!-- end of .container -->
<script type="text/javascript" src="/js/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="/js/edit.js"></script>
<%- include ../includes/footer %>
