<%- include ../includes/header %>
<div class="row">	
	<article>

		<ul class="articleList">

			<% articles.forEach(function(article){ %>
			<li>
				<a href="/articles/<%= article._id %>">
					<h4><%= article.title %></h4>
					<div>
						<%= article.body %>
					</div>
					<p>
						<%=: article.createdAt | format_time %>
					</p>
				</a>
			</li>
			<% }) %>
		</ul>

	</article>
</div>
<%- include ../includes/footer %>