<%- include ../includes/header %>
<div class="row">	
	<article>
		<ul class="articleList">

			<% articles.forEach(function(article){ %>
			<li>
				<a href="/articles/<%= article._id %>">
					<h4><%= article.title %></h4>
					<div>
						<%= article.body %>
					</div>
					<p>
						<%=: article.createdAt | format_time %>
					</p>
				</a>
			</li>
			<% }) %>
		</ul>
	</article>

	<% if(pages > 1){ %>
		<div class="pagination pagination-right">
	        <ul>
	        	<li><a href="?page=<%= page-1 %>">«</a></li>
	        	<% for (var i = 1; i <= pages; i++ ) { %>
	        		<% if ( page == i ){ %>
		        		<li class="active"><a href="?page=<%= i %>"><%= i %></a></li>
	        		<% } else { %>
		        		<li><a href="?page=<%= i %>"><%= i %></a></li>
	        		<% } %>
	        	<% } %>
	        	<li><a href="?page=<%= page + 1 %>">»</a></li>
	        </ul>
	    </div>
	<% } %>
</div>
<%- include ../includes/footer %>