<%- include ../includes/header %>
<div class="row">	
	<article>

		<ul class="articleList">

			<% articles.forEach(function(article){ %>
			<li>
				<a href="/articles/<%= article._id %>">
					<h4><%= article.title %></h4>
					<div>
						<%= article.body %>
					</div>
					<p>
						<%= article.createdAt %>
					</p>
				</a>
			</li>
			<% }) %>

			<li>
				<a href="">
					<h4>Markdown语法小计</h4>
					<div>
						Markdown优点在于语法简单、可读性高，
						一旦会用之后你在写作过程中就可以更加
						专注于文字的书写而不至于浪费精力在格
						式的调整上。
					</div>
					<p>
						2012-06-26
					</p>
				</a>
			</li>
			<li>
				<a href="">
					<h4>Markdown语法小计</h4>
					<div>
						Markdown优点在于语法简单、可读性高，
						一旦会用之后你在写作过程中就可以更加
						专注于文字的书写而不至于浪费精力在格
						式的调整上。
					</div>
					<p>
						2012-06-26
					</p>
				</a>
			</li>
			<li>
				<a href="">
					<h4>Markdown语法小计</h4>
					<div>
						Markdown优点在于语法简单、可读性高，
						一旦会用之后你在写作过程中就可以更加
						专注于文字的书写而不至于浪费精力在格
						式的调整上。
					</div>
					<p>
						2012-06-26
					</p>
				</a>
			</li>
			<li>
				<a href="">
					<h4>Markdown语法小计</h4>
					<div>
						Markdown优点在于语法简单、可读性高，
						一旦会用之后你在写作过程中就可以更加
						专注于文字的书写而不至于浪费精力在格
						式的调整上。
					</div>
					<p>
						2012-06-26
					</p>
				</a>
			</li>
		</ul>

	</article>
</div>
<%- include ../includes/footer %>