<%- include ../includes/header %>
<div class="container mainbody">
<div class="row">
	<aside class="span3 outline">
		<ul class="affix-top">
			<% article.outline.forEach(function(item){ %>
			<li>
				<a href=""><%= item %></a>
			</li>
			<% }) %>
		</ul>
	</aside>	
	<article class="span9 mdbody">
		<h1><%= article.title %></h1>
		<p><%=: article.createdAt | format_time %></p>
		<div>
			<form action="/articles/<%= article.id %>" method="post" class="center form-inline confirm">
			  	<a href="/articles/<%= article.id %>/edit" title="edit" class="btn">Edit</a>
			  	<input type="hidden" name="_method" value="DELETE">
			  	<button type="submit" class="btn btn-danger">delete</button>
			</form>
		</div>
		<section>
			<%- article.body %>	
		</section>	
	</article>
</div>
</div><!-- end of .container -->
<%- include ../includes/footer %>