<%- include ../includes/header %>
<div class="row">
	<aside class="span3 outline">
		<ul>
			<li>
				<a href="">标题一</a>
			</li>
			<li>
				<a href="">标题二</a>
			</li>
		</ul>
	</aside>	
	<article class="span9 mdbody">
		<h1><%= article.title %></h1>
		<h2><%=: article.createdAt | format_time %></h2>
		<h2><%=: article.category | parse_category  %></h2>
			<p>
				<form action="/articles/<%= article.id %>" method="post" class="center form-inline confirm">
				  	<a href="/articles/<%= article.id %>/edit" title="edit" class="btn">Edit</a>
				  	<input type="hidden" name="_method" value="DELETE">
				  	<button type="submit" class="btn btn-danger">delete</button>
				</form>
			</p>
		<section>
			<%= article.body %>	
		</section>	
	</article>
</div>
<%- include ../includes/footer %>