<%- include ../includes/header %>
<div class="container mainbody">
	<div class="row">
		<aside class="span3 outline">
			<div data-spy="affix" data-offset-top="10">
				<div>
					<% if(username) { %>
					<form action="/articles/<%= article.id %>" method="post" class="center form-inline confirm">
					  	<a href="/articles/<%= article.id %>/edit" title="edit" class="btn"><i class="icon-edit"></i> 编辑</a>
					  	<input type="hidden" name="_method" value="DELETE">
					  	<button type="submit" class="btn btn-danger js_deletePost"><i class="icon-trash"></i> 删除</button>
					</form>
					<% } %>
				</div>
				<h3>文章目录</h3>
				<ul class="affix-top">
					<% article.outline.forEach(function(item){ %>
					<li>
						<a href=""><%= item %></a>
					</li>
					<% }) %>
				</ul>
			</div>
		</aside>	
		
		<article class="span9 mdbody">
			<header>
				<h1>
					<%= article.title %>
					
				</h1>
				<small>
					<span class="createDate"><i class="icon-time"></i> <%=: article.createdAt | format_time %></span>
					<%= article.tags == [] ? "" : "|" %>
					<% article.tags.split(',').forEach(function(tag){ %>
						<a href="/tags/<%= tag %>"><i class="icon-tags"></i> <%= tag %></a>
					<% }) %>
					<span><%= article.user.username %></span>
				</small>
			</header>
			<section>
				<%- article.body %>	
			</section>	

		</article>
	</div>
</div><!-- end of .container -->
<%- include ../includes/footer %>